footer.footer.container
  .footer-content
    .footer-content-logo
      a(href="#")
        h4 poz
          span nan
          | - city
          span 2
          | live
    .footer-content-nav
      ul
        li
          a(href="#") Home
        li
          a(href="#") Product
        li
          a(href="#")  Services
        li
          a(href="#") Contact
  .footer-copyright
    p all rights reserved 2013
