header.header
  .header-pre.container
    .header-pre-logo
      h1.h32
        a(href="#") poz
          span nan
          |- city
          span 2
          |live
    .header-pre-socials
      ul
        li
          a(href="#")(style="background: url(img/icon-1.png) no-repeat")
        li
          a(href="#")(style="background: url(img/icon-2.png) no-repeat")
        li
          a(href="#")(style="background: url(img/icon-3.png) no-repeat")
        li
          a(href="#")(style="background: url(img/icon-4.png) no-repeat")
        li
          a(href="#")(style="background: url(img/icon-5.png) no-repeat")
        li
          a(href="#")(style="background: url(img/icon-6.png) no-repeat")
  .header-nav
    ul
      li
        a(href="#") Home
      li
        a(href="#") Product
      li
        a(href="#")  Services
      li
        a(href="#") Contact
