script(type="text/javascript", src="./js/jquery-1.12.4.min.js")
script(type="text/javascript", src="./js/bootstrap.min.js")
script(type="text/javascript", src="./js/custom.js")
script(type="text/javascript", src="./js/map.js")
script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzgkxL6hwCz3apAZsr6AFlX61o0-3ISDA&callback=initMap" async defer)