doctype html
html(lang="en")
    // head
    include ../includes/head

    //body
    body
      // header
      include ../includes/header

      // content
      block page

      // footer
      include ../includes/footer

      // scripts
      include ../includes/scripts
      block scripts
      // scripts end